.row{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px;
   
}
.activeColor{
    padding:5px;
    height: 30px;
    width: 5%;
    border: 1px solid grey;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
h1{
    text-align: center;
}
.new{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
